.chart-series-line {
    -fx-stroke-width: 2px;
}
#timeStampTextField {
    -fx-focus-traversable: false;
}
.button {
    -fx-focus-traversable: false;
}
.check-box{
    -fx-focus-traversable: false;
}