.buttonClass {
    -fx-background-color: transparent;
}
.buttonClass:hover {
    -fx-background-color: #A5A5A5;
}
.buttonClass:disabled {
    -fx-background-color: #656565;
    -fx-text-fill: #ffffff;
    -fx-border-color: #000000;

}

#echelleLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold; /* Utilisation du poids de police "bold" pour mettre en gras */
}
